@media screen and (max-width:1024px){
}
@media screen and (min-width:768px) and (max-width:1024px){
}
@media screen and (min-width:768px) and (max-width:991px){
}
@media screen and (max-width:991px){
}
@media screen and (max-width:767px){
}
@media screen and (min-width:480px) and (max-width:767px){	
.top-strip .top-strip-left{
	display:none;
}
.main-menu{
	display:none;
}
.logo {
    padding-left: 10px;
    --padding-right: 80px;
}

#custom_menu_icon {
	display:block;
    top: 75px;
    right: 10px;
    float: right;
    background:#fff;
}
#main-logo{
	display:none;
}

.main-header{
	display:none;
}

.mobile-header{
	display:block;
}

}

@media screen and (max-width:479px){
.top-strip .top-strip-left{
	display:none;
}
.logo {
        padding-left: 10px;
    --padding-right: 80px;
}
.main-menu{
	display:none;
}

#custom_menu_icon {
	display:block;
    background:#fff;
	color:#000;
}

#main-logo{
	display:none;
	color:#000;
}
.main-header{
	display:none;
}

.mobile-header{
	display:block;
}

}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #d7e2e9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e5dbdb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e5dbdb;
    background-color: #425766;
  }
}
